@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Poppins, sans-serif;
  --font-mono: Space Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Libre Baskerville, serif;
  --radius: 0.6rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.6rem;
  --background: oklch(0.9909 0.0029 264.5422);
  --foreground: oklch(0.3064 0.0597 255.8737);
  --card: oklch(0.9909 0.0029 264.5422);
  --card-foreground: oklch(0.3064 0.0597 255.8737);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3607 0.0774 255.1582);
  --primary: oklch(0.4659 0.1551 257.4196);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8811 0.0387 259.2870);
  --secondary-foreground: oklch(0.3530 0.0718 255.4606);
  --muted: oklch(0.9155 0.0219 256.7342);
  --muted-foreground: oklch(0.2888 0.0768 255.0338);
  --accent: oklch(0.9087 0.0325 258.3692);
  --accent-foreground: oklch(0.3048 0.0899 256.6464);
  --destructive: oklch(0.5075 0.1912 27.0761);
  --border: oklch(0.8855 0.0355 254.8783);
  --input: oklch(0.8847 0.0209 254.9234);
  --ring: oklch(0.5663 0.1761 257.2457);
  --chart-1: oklch(0.5919 0.1785 256.9933);
  --chart-2: oklch(0.3878 0.2279 268.1161);
  --chart-3: oklch(0.3790 0.0438 226.1538);
  --chart-4: oklch(0.8330 0.1185 88.3461);
  --chart-5: oklch(0.7843 0.1256 58.9964);
  --sidebar: oklch(0.9308 0.0189 255.5361);
  --sidebar-foreground: oklch(0.4659 0.1551 257.4196);
  --sidebar-primary: oklch(0.3963 0.0251 285.1962);
  --sidebar-primary-foreground: oklch(0.9711 0.0081 278.6379);
  --sidebar-accent: oklch(0.9549 0.0188 255.5335);
  --sidebar-accent-foreground: oklch(0.4449 0.1436 257.1105);
  --sidebar-border: oklch(0.9349 0.0040 286.3218);
  --sidebar-ring: oklch(0.4659 0.1551 257.4196);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: Space Mono, monospace;
  --shadow-color: #093b7c;
  --shadow-opacity: 0.15;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1.5px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1.5px 10px 0px hsl(213.9130 86.4662% 26.0784% / 0.07);
  --shadow-xs: 0 1.5px 10px 0px hsl(213.9130 86.4662% 26.0784% / 0.07);
  --shadow-sm: 0 1.5px 10px 0px hsl(213.9130 86.4662% 26.0784% / 0.15), 0 1px 2px -1px hsl(213.9130 86.4662% 26.0784% / 0.15);
  --shadow: 0 1.5px 10px 0px hsl(213.9130 86.4662% 26.0784% / 0.15), 0 1px 2px -1px hsl(213.9130 86.4662% 26.0784% / 0.15);
  --shadow-md: 0 1.5px 10px 0px hsl(213.9130 86.4662% 26.0784% / 0.15), 0 2px 4px -1px hsl(213.9130 86.4662% 26.0784% / 0.15);
  --shadow-lg: 0 1.5px 10px 0px hsl(213.9130 86.4662% 26.0784% / 0.15), 0 4px 6px -1px hsl(213.9130 86.4662% 26.0784% / 0.15);
  --shadow-xl: 0 1.5px 10px 0px hsl(213.9130 86.4662% 26.0784% / 0.15), 0 8px 10px -1px hsl(213.9130 86.4662% 26.0784% / 0.15);
  --shadow-2xl: 0 1.5px 10px 0px hsl(213.9130 86.4662% 26.0784% / 0.38);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2213 0.0315 249.4182);
  --foreground: oklch(0.8763 0.0292 277.1966);
  --card: oklch(0.2418 0.0300 259.0510);
  --card-foreground: oklch(0.8955 0.0319 255.5912);
  --popover: oklch(0.2582 0.0318 258.3106);
  --popover-foreground: oklch(0.9621 0.0081 278.6364);
  --primary: oklch(0.4659 0.1551 257.4196);
  --primary-foreground: oklch(0.9275 0.0328 252.4631);
  --secondary: oklch(0.3420 0.0742 255.4382);
  --secondary-foreground: oklch(0.8478 0.0296 275.0935);
  --muted: oklch(0.2687 0.0350 254.0700);
  --muted-foreground: oklch(0.7984 0.0382 280.4744);
  --accent: oklch(0.3476 0.0388 254.6285);
  --accent-foreground: oklch(0.9609 0.0094 292.7963);
  --destructive: oklch(0.5075 0.1912 27.0761);
  --border: oklch(0.3476 0.0388 254.6285);
  --input: oklch(0.2418 0.0300 259.0510);
  --ring: oklch(0.4659 0.1551 257.4196);
  --chart-1: oklch(0.4939 0.1249 267.9400);
  --chart-2: oklch(0.5633 0.1912 306.8561);
  --chart-3: oklch(0.7175 0.1514 58.7898);
  --chart-4: oklch(0.6634 0.2044 335.4003);
  --chart-5: oklch(0.7645 0.1225 214.1532);
  --sidebar: oklch(0.1940 0.0345 256.4504);
  --sidebar-foreground: oklch(0.8200 0.0225 256.7435);
  --sidebar-primary: oklch(0.4882 0.2172 264.3763);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2689 0.0328 254.3734);
  --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.4659 0.1551 257.4196);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.6rem;
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: Space Mono, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.15;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1.5px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1.5px 10px 0px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0 1.5px 10px 0px hsl(0 0% 0% / 0.07);
  --shadow-sm: 0 1.5px 10px 0px hsl(0 0% 0% / 0.15), 0 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow: 0 1.5px 10px 0px hsl(0 0% 0% / 0.15), 0 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow-md: 0 1.5px 10px 0px hsl(0 0% 0% / 0.15), 0 2px 4px -1px hsl(0 0% 0% / 0.15);
  --shadow-lg: 0 1.5px 10px 0px hsl(0 0% 0% / 0.15), 0 4px 6px -1px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0 1.5px 10px 0px hsl(0 0% 0% / 0.15), 0 8px 10px -1px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0 1.5px 10px 0px hsl(0 0% 0% / 0.38);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

div#qr-code-preview-container canvas {
  width: 100% !important;
  height: 100% !important;
}